<%- include ("partials/header1.ejs")%>
<%- include ("partials/header2.ejs")%>
<%- include ("partials/navbar.ejs")%>
<link rel="stylesheet" href="assests/css/desktop/feed.css">
<link rel="stylesheet" href="assests/css/desktop/partials/item-div.css">
<div class="main">
    <div class="feed-left">
        a
    </div>
    <div class="feed-center">
        <%- include ("partials/item-div.ejs")%>
    </div>
    <div class="feed-right">
        a
    </div>
</div>



<%- include ("partials/footer.ejs")%>